1. Create a variable name and assign it your name as a string

In [1]:
f = "Felix"
print(f, type(f))

Felix <class 'str'>

2. Create two variables a and b. Assign a = 10 and b = 3.14. Print both and their types.

In [2]:
a = 10
b = 3.14
print(a, type(a))
print(b, type(b))

10 <class 'int'>
3.14 <class 'float'>

3. Define a boolean variable is_student = True. Print a sentence like “Am I a student? True”.

In [3]:
is_student= True
print("Am I a student?", is_student)

Am I a student? True

4. Create a variable x = None. Print it and check its type.

In [4]:
x = "None"
print(x, type(x))

None <class 'str'>

5. Swap the values of two variables m = 5 and n = 8 without using a third variable.

In [1]:
m = 5
n = 8
m, n = n, m
print("m =", m, "n =", n)

m = 8 n = 5

**Conditional Statements (if / if-else)**

6. Ask the user (via input) to enter a number. If it's positive, print “Positive”, else print “Non-Positive”.

In [4]:
# Ask the user to enter a number
num = float(input("Enter a number: "))
# check if the number is positive or non-positive
if num > 0:
    print("Positive")
else:
    print("Non-Positive")

Positive

7. Write a program that checks if a number is even or odd.

In [3]:
# Ask the user to enter a number
num = int(input("Enter a number: "))

# Check if it's even or odd
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

8. Ask the user for their age. If age ≥ 18, print “You are an adult”, else print “You are a minor”.

In [ ]:
# Ask the user for their age
age = int(input("Enter your age: "))
# Check if the user is an adult or a minor
if age >= 18:
    print("You are an adult")
else:
    print("You are a minor")

You are an adult

9. Given three variables x, y, z, check which one is the greatest and print it.

In [8]:

x = 10.5
y = 5
z = 6

# Check which one is greatest
if x >= y and x >= z:
    print("Greatest:", x)
elif y >= x and y >= z:
    print("Greatest:", y)
else:
    print("Greatest:", z)

Greatest: 10.5

10.  Ask the user to input a temperature in Celsius. If the temperature is > 30, print “Hot”, if it’s between 15 and 30 (inclusive), print “Warm”, else print “Cold”.

In [10]:
# Ask the user to enter temperature in Celsius
temp = float(input("Enter temperature in Celsius: "))

# Check the temperature range
if temp > 30:
    print("Hot")
elif 15 <= temp <= 30:
    print("Warm")
else:
    print("Cold")

Cold

In [9]:
temp = float(input("Enter temperature in Celsius: "))
if temp > 30:
    print("Hot")
elif 15 <= temp <= 30:
    print("Warm")
else:
    print("Cold")

Hot

11. Create a list fruits = ["apple", "banana", "cherry"]. Print the first and last fruit.

In [ ]:
fruits = ["apple", "banana", "cherry"]
print("first fruit", fruits[0])
print("last fruit", fruits[2])

# list with diffrent types of data types
list = [1, "fruit", 3.14, True]

first fruit apple
last fruit cherry

12. Add a new fruit “orange” to the list.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

# you can also use

['apple', 'banana', 'cherry', 'orange']

method 2

In [15]:
fruits =["apple", "banana", "cherry"]
fruits.insert(3, "orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

13. Remove “banana” from the list.

In [16]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)  # removes "banana"
print(fruits)   

# method 2
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")  # removes "banana"
print(fruits)

['apple', 'cherry']
['apple', 'cherry']

14. Given a list of numbers [1, 2, 3, 4, 5], calculate and print their sum.

In [ ]:
numbers = [1, 2, 3, 4, 5]

total = sum(numbers)

print("Sum:", total)

Sum: 15

15. Given a list of strings ["hello", "world"], join them into a single string with a space: “hello world”.

In [1]:
words = ["hello", "world"]
result = " ".join(words)
print(result)

hello world

16. Reverse a list (without using the built-in reverse method).

In [2]:
numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[5, 4, 3, 2, 1]

17. Given a list [1, 2, 3, 2, 1], count how many times 2 appears.

In [ ]:
# Given list
numbers = [1, 2, 3, 2, 1]
# Count how many times 2 appears
count = numbers.count(2)
print("Count of 2:", count)

Count of 2: 2

18. Write a program that takes a list of numbers from the user (comma separated), converts them into a list of integers, and prints only the even numbers.

In [ ]:
# Get input from user
user_input = input("Enter numbers separated by commas: ")

# convert input string to list of integers
numbers = [int(x.strip()) for x in user_input.split(",")]

# Find even numbers
even_numbers = [num for num in numbers if num % 2 == 0]
print("Even numbers:", even_numbers)

Even numbers: [2, 4, 6, 8, 10]

another method

In [6]:
# Get input from user
user_input = input("Enter numbers separated by commas: ")

numbers = [int(x.strip()) for x in user_input.split(",")]

print("Even numbers:")
for n in numbers:
    if n % 2 == 0:
        print(n)

Even numbers:
2
4
6
8

**Tuples**

19. Create a tuple t = (10, 20, 30, 40). Print its first element.

In [1]:
t = (10, 20, 30, 40)
print(t[0])

10

20. Try to change one element of the tuple (e.g., t[0] = 5) and observe what error you get.

In [2]:
t = (10, 20, 30, 40)

t[0] = 5

TypeError: 'tuple' object does not support item assignment

21. Unpack the tuple t = (1, 2, 3) into three variables a, b, c.

In [3]:
t = (1, 2, 3)

a, b, c = t

print(a, b, c)

1 2 3

22. Given a tuple of mixed types ("Alice", 25, True), print each element and its type.

In [5]:
t = ("Alice", 25, True)

print(t[0], type(t[0]))
print(t[1], type(t[1]))
print(t[2], type(t[2]))

Alice <class 'str'>
25 <class 'int'>
True <class 'bool'>

*Dictionaries*

23. Create a dictionary student = {"name": "Alice", "age": 21, "major": "Math"}. Print the student’s name.

In [7]:
student = {"name": "Alice", "age": 21, "major": "Math"}

print(student["name"])

Alice

24. Add a new key-value pair: "GPA": 3.8.

In [8]:
student = {"name": "Alice", "age": 21, "major": "Math"}

student["GPA"] = 3.8

print(student)

{'name': 'Alice', 'age': 21, 'major': 'Math', 'GPA': 3.8}

25. Change the "age" value to 22.

In [9]:
student = {"name": "Alice", "age": 21, "major": "Math"}
student["age"] = 22

print(student)

{'name': 'Alice', 'age': 22, 'major': 'Math'}

26. Remove the "major" key from the dictionary.

In [12]:
student = {'name': 'Alice', 'age': 21, 'major': 'Math', 'GPA': 3.8}
student.pop("major")
print(student)

{'name': 'Alice', 'age': 21, 'GPA': 3.8}

27. Iterate over the dict and print keys and values in the form: key -> value.

In [13]:
student = {"name": "Alice", "age": 21, "GPA": 3.8}

for key, value in student.items():
    print(key, "->", value)

name -> Alice
age -> 21
GPA -> 3.8

In [14]:
student = {"name": "Alice", "age": 21, "GPA": 3.8}
for key, value in student.items():
    print(f"{key} -> {value}")

name -> Alice
age -> 21
GPA -> 3.8

28. Write a program that counts how many times each word appears in a list of words: ["apple", "banana", "apple", "cherry", "banana", "banana"].

In [16]:
words = ["apple", "banana", "apple", "cherry", "banana", "banana"]
word_count = {}
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1  

print(word_count)

{'apple': 2, 'banana': 3, 'cherry': 1}

**Sets**

29. Create a set s = {1, 2, 3, 4}. Try adding 2 again and print the set.

In [ ]:
s = {1, 2, 3, 4}

s.add(2) 

print(s)

{1, 2, 3, 4}

30. Given a list with duplicates [1, 2, 2, 3, 3, 3], convert it to a set to remove duplicates.

In [18]:
list = [1,2,2,3,3,3]

unique_set = set(list)

print(unique_set)

{1, 2, 3}

31. Create another set t = {3, 4, 5}. Print the union, intersection, and difference (s - t).

In [19]:
t = {3,4,5}
s = {1,2,3,4}

# Union
print("Union:", s | t)

# Intersection
print("Intersection:", s & t)

# Difference (s - t)
print("Difference (s - t):", s - t)

Union: {1, 2, 3, 4, 5}
Intersection: {3, 4}
Difference (s - t): {1, 2}

32. Given a set letters = {"a", "b", "c"}, check if "d" is in the set, and print a message accordingly.

In [20]:
letters = {"a", "b", "c"}
for letter in letters:
    if letter == "d":
        print("d is in the set")
    else:   
        print("d is not in the set")

d is not in the set
d is not in the set
d is not in the set

In [21]:
letter = {"a", "b", "c"}
if "d" in letters:
    print("d is in the set")
else:   
    print("d is not in the set")

d is not in the set

**Mixed Data Structures + Conditionals**

33. Given a dictionary inventory = {"apples": 5, "bananas": 2, "oranges": 0}, write code to print “We are out of oranges” if the count is 0, and otherwise print how many there are.

In [1]:
inventory = {"apples":5, "bananas":2, "oranges": 0}
if inventory["oranges"] == 0:
  print("we are out of oranges")
else:
  print("We have", inventory["oranges"], "oranges")

we are out of oranges

34. Create a list of dictionaries, e.g., people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}].

 Loop through it and print for each person whether they are adult or minor.

In [2]:
people = [
    {"name":"Alice", "age":30},
    {"name":"Bob", "age":17 }
]
for person in people:
    if person["age"] >= 18:
        print(person["name"], "is an adult")
    else:
        print(person["name"], "is a minor")

Alice is an adult
Bob is a minor

34. Create a list of dictionaries, e.g., people = [{"name":"Alice","age":30}, {"name":"Bob","age":17}].

 Loop through it and print for each person whether they are adult or minor.

In [3]:
nums = (5, 10, 15, 20)

for n in nums:
    if n % 10 == 0:
        print(n, "-> Divisible by 10")
    else:
        print(n, "-> Not divisible by 10")

5 -> Not divisible by 10
10 -> Divisible by 10
15 -> Not divisible by 10
20 -> Divisible by 10

35. Ask user to input three numbers and store them in a list.

 Then, convert the list to a set and check if any duplicates were removed; tell the user if there were duplicates.

In [4]:

num1 = input("Enter first number: ")
num2 = input("Enter second number: ")
num3 = input("Enter third number: ")

numbers = [num1, num2, num3]

# Convert list to a set
unique_numbers = set(numbers)

# Check if duplicates were deleted
if len(unique_numbers) < len(numbers):
    print("There were duplicates.")
else:
    print("No duplicates.")

No duplicates.

36. Create a dictionary grades = {"Alice": 85, "Bob": 72, "Charlie": 90}.

 Loop through it and print: “Alice passed” or “Alice failed” assuming passing is ≥ 80.